NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=
GOOGLE_PLACES_API_KEY=
GOOGLE_PLACE_ID=
GOOGLE_PLACE_QUERY=Alttavia Relocation
GOOGLE_REVIEWS_SOURCE_URL=https://share.google/OBdFa5ruoNI45MEys
